<h1>Cocktails#index</h1>

<div class="container">
  <div class="row">
    <ol>
      <% @cocktails.each do |cocktail| %>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <% if cocktail.cocktail_photo? %>
          <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= cl_image_path cocktail.cocktail_photo %>);">
        <% else %>
          <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= image_path "basic_cocktail.jpg" %>);">
        <% end %>
            <div class="card-description">
              <h2><%= cocktail.name %></h2>
            </div>
            <%= link_to cocktail.name, cocktail_path(cocktail), class: "card-link" %>
          </div>
        </div>
      <% end %>
    </ol>
  </div>
</div>
