#wrapper {
    overflow: hidden; /* will contain if #first is longer than #second */
}
#cocktail_img {
    max-width: 100%;
    height: auto;
}

#cocktail_img img {

}

#title {
  text-align: center;
}
